@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Poppins; }

.navbar {
  background-color: #7f2336 !important; }

.nav-item a {
  color: white !important;
  transition-duration: 0.5s !important;
  text-shadow: 1px 1px 1px black !important; }

.nav-item a:hover {
  color: black !important; }

header nav {
  display: flex;
  justify-content: space-around; }

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 10px; }

header nav img {
  width: 70px;
  height: 70px;
  border-radius: 10px; }

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  transition-duration: 1s; }

header nav ul li a:hover {
  color: black; }

.historia {
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes titulo {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0;
    width: 100%; } }

.presentacion {
  display: flex;
  height: 90vh;
  background-image: url(../img/fondo3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: left;
  align-items: center;
  background-attachment: fixed; }
  .presentacion div h1 {
    padding: 20px;
    font-size: 45px;
    color: #7f2336;
    width: 700px;
    padding-left: 80px;
    transition-duration: 2s;
    text-shadow: 2px 2px 2px white; }
    .presentacion div h1:hover {
      transform: scale(1.2); }
  .presentacion div p {
    font-size: 30px;
    text-align: center;
    color: black(127, 35, 54);
    width: 700px;
    font-weight: 500;
    padding-left: 80px;
    text-shadow: 1px 1px 1px white; }

.ofertas {
  background-color: #7f2336; }
  .ofertas h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    animation: titulo 1s ease-in-out; }
  .ofertas .tarjetas {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: 500px;
    background-color: #7f2336; }
    .ofertas .tarjetas div {
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 5px solid #EDD59E;
      width: 200px;
      height: 425px;
      display: block;
      flex-direction: column;
      margin-bottom: 20px;
      align-items: center;
      padding: 15px;
      margin: 10px;
      border-radius: 40px;
      margin: 20px;
      transition-duration: 1s;
      background-color: #EDD59E; }
      .ofertas .tarjetas div:hover {
        box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.1); }
      .ofertas .tarjetas div img {
        height: 200px;
        width: 150px; }
      .ofertas .tarjetas div p {
        font-size: 25px; }
      .ofertas .tarjetas div h6 {
        padding-bottom: 10px;
        font-size: 15px; }
      .ofertas .tarjetas div a {
        text-decoration: none;
        background-color: #7f2336;
        color: white;
        font-size: 20px;
        border-radius: 8px;
        padding-bottom: 15px;
        padding: 15px;
        margin-bottom: 40px;
        transition-property: color;
        transition-duration: 0.5s; }
        .ofertas .tarjetas div a:hover {
          color: black; }

.ubicacion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/back3.avif);
  background-repeat: no-repeat;
  background-size: cover; }
  .ubicacion .contacto {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: 800px;
    justify-content: center;
    align-items: center; }
    .ubicacion .contacto .formulario {
      display: block;
      border: 2px solid white;
      border-radius: 5px;
      color: white;
      text-align: center;
      padding-top: 20px;
      text-shadow: 1px 1px 1px black; }
      .ubicacion .contacto .formulario h3 {
        font-size: 35px;
        text-align: center;
        padding-bottom: 20px;
        color: white;
        text-shadow: 2px 2px 2px black; }
      .ubicacion .contacto .formulario form .formsolo div label {
        display: flex;
        padding: 5px;
        justify-content: center; }
  .ubicacion .mapa h3 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black; }

.carrusel img {
  display: flex;
  width: 600px;
  height: 600px;
  align-items: center; }

h2 {
  color: #7f2336;
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black; }

.vino {
  background-color: antiquewhite; }
  .vino h5 {
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    font-style: oblique;
    text-shadow: 2px 2px 2px white; }
  .vino .consejos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center; }
    .vino .consejos img {
      height: 1000px;
      width: 500px;
      border-radius: 8px; }
    .vino .consejos .texto p {
      text-align: center;
      width: 500px;
      font-size: 20px;
      margin-top: 20px; }

.historia {
  flex-direction: column;
  background-color: #7f2336; }
  .historia h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 2px black; }
  .historia p {
    text-align: center;
    font-size: 20px;
    width: 800px;
    color: white;
    text-shadow: 1px 1px 1px black; }
  .historia img {
    width: 1520px; }

footer {
  background-color: #7f2336;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; }
  footer .redes img {
    width: 30px;
    height: 30px;
    margin: 10px; }
  footer p {
    text-align: right; }

@media screen and (max-width: 980px) {
  .presentacion div h1 {
    font-size: 30px; }
  .presentacion div p {
    font-size: 30px; }
  .ofertas .tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center; }
  .ubicacion {
    display: flex;
    flex-direction: column-reverse; }
  .mapa iframe {
    width: 300px;
    height: 300px; }
  .historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .historia p {
    width: 800px;
    font-size: 20px; } }

@media screen and (max-width: 400px) {
  .presentacion {
    display: flex;
    text-align: center;
    justify-content: center; }
  .presentacion div h1 {
    font-size: 25px;
    width: 300px;
    text-align: center;
    align-items: center; }
  .presentacion div p {
    font-size: 15px;
    text-align: center;
    align-items: center;
    width: 300px; }
  .presentacion {
    padding-left: 0;
    display: flex;
    flex-direction: column; }
  .ofertas .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .vino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .vino h5 {
    font-size: 20px;
    text-align: center;
    width: 200px; }
  .vino .consejos {
    display: flex;
    flex-direction: column; }
  .vino .consejos img {
    height: 200px;
    width: 300px; }
  .vino .consejos .texto {
    align-items: center;
    justify-content: center; }
  .vino .consejos .texto p {
    font-size: 10px;
    text-align: center;
    align-items: center;
    width: 200px; }
  footer.redes {
    background-color: #7f2336;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer .redes img {
    width: 15px;
    height: 15px;
    margin: 5px; }
  .historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .historia p {
    width: 300px;
    font-size: 15px; }
  .historia img {
    width: 350px; } }
