.presentacion{
            display: flex;
            height: 90vh;
            background-image: url(../img/fondo3.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            justify-content: left;
            align-items: center;
            background-attachment: fixed;
            div{
                h1{ 
                    padding: 20px;
                    font-size: 45px;
                    color:$color-principal;
                    width: 700px;
                    padding-left: 80px;
                    transition-duration: 2s;
                    &:hover{
                        transform: scale(1.2);
                    }
                    
                }
                p{ font-size: 30px;
                    text-align: center;
                    color: black(127, 35, 54);
                    width: 700px;
                    font-weight: 500;
                    padding-left: 80px
                }
            }
}
.ofertas{
        h2{color:$color-principal;
        text-align: center;
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 20px;
        animation: titulo 1.5s ease-in-out;
        }
        
        .tarjetas{ 
                display: grid;
                grid-template-columns: repeat(6, 250px);
                grid-template-rows: 500px;
                div{
                    text-align: center;
                    border: 5px solid black;
                    width: 200px;
                    height: 425px;
                    display: inline-flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    align-items: center;
                    padding: 15px;
                    margin: 10px;
                    border-radius: 40px;
                    margin: 20px;
                    background-color: white;
                    transition-duration: 1s;
                        &:hover{
                                box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.2);
                                transform: scale(1.1);
                        }
                    img{
                        height: 200px;
                        width: 150px;
                    }
                    p{ 
                        text-decoration: underline;
                        font-size: 25px;
                    }
                    a{
                        text-decoration: none;
                        background-color: $color-principal;
                        color: white;
                        font-size: 20px;
                        border-radius: 8px;
                        padding: 15px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                        transition-property: color;
                        transition-duration: 0.5s;
                        &:hover{
                            color: black;
                        }
                    }
                }
        }
}

.ubicacion {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
            .contacto{
                    display: flex;
                    flex-direction: row;
                    border-radius: 5px;
                    height: 800px;
                    justify-content: center;
                    align-items: center;
                    .formulario{ 
                                display: block;
                                border: 1px solid black;
                                border-radius: 5px;
                                color: black;
                                text-align: center;
                                padding-top: 20px;
                                h4{font-size: 35px;
                                    text-align: center;
                                    padding-bottom: 20px;
                                    color: $color-principal;
                                }
                                form{
                                    .formsolo{
                                        div{
                                            label{
                                                display: flex;
                                                padding: 5px;
                                                justify-content: center;

                                            }
                                        }
                                    }
            }       }
                                }
            .mapa{
                h3{ 
                    font-size: 40px;
                    color: $color-principal;
                    text-align: center;
                    padding: 30px;
                    }
            }
        
}
.carrusel img {
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
}
h2{ color: $color-principal;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;

}
.vino{
    h5{
        font-size: 60px;
        padding-top: 40px;
        text-align: center;
        padding-bottom: 40px;
    }
    .consejos{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            img{
                height: 500px;
                border-radius: 8px;
            }
            .texto{
                p{ text-align: center;
                    width: 500px;
                    font-size: 20px;
                    margin-top: 20px;
                }
            }
    }
}
.historia{
        flex-direction: column;
        background-color: $color-principal;
        @extend %flexcenter;

        h1{
            color: white;
            font-size: 50px;
        }
        p{
            text-align: center;
            font-size: 20px;
            width: 800px;
            color: white;
            
            

        }
        img{
            width: 1520px;
            
        }
}